body {
	background-color: #FCFCFC;
	font: 100%/1 verdana;
}

form {
	font: 80%/1 verdana;
}

fieldset {
	padding: 1em;
	border: none;
}

fieldset legend {
	margin: 0.2em 0.5em;
	padding: 0.5em 0.5em;
	font-size: 90%;
	background-color: #C7C7C7;
	width: 100%;
}

fieldset label {
	float: left;
	width: 15%;
	margin-right: 0.5em;
	padding-top: 0.4em;
	text-align: right;
	font-weight: bold;
	color: #444;
}

.disabled {
	text-color: #777;
	background-color: #EEE;
}

.currency {
	width: 8em;
	text-align: right;
}

.quantity {
	width: 5em;
	text-align: right;
}