<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>FlexyInvoice - {% block title %} {% endblock %}</title>
	<style type="text/css">
		@import "/static/css/style.css" ;
		@import "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css";
		@import '/static/jquery-grid/ui.jqgrid.css';'
	</style>
	
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js'></script>
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
	<script type='text/javascript' src='/static/jquery-grid/jquery.jqGrid.min.js'></script>
	{% block head %}{% endblock %}
</head>
<body>
	<div id="header"></div>
	<div id="content">
		{% block content %} #CONTENT# {% endblock %}
	</div>
	<div id="footer"></div>
</body>
</html>