{% extends '_main_template.html' %}

{% block title %}Add Client{% endblock %}

{% block content %}

<script type='text/javascript'>
</script>

<form method='post'  id='form-add-client' class='form-normal'>
	<fieldset>
		<!-- 
		<legend>Create New Client</legend>
	
		<label for='name'>Name</label>
		<input type='text' id='name' name='name' required placeholder='Client name' />
		<br/>  
		
		<label for='email'>Email</label>
		<input type='email' id='email' name='email' placeholder='Client email address' required' '/>
		 -->

		{% include '_form_template.html' %}
		 
		<button id='btn-add-client' >Create</button>
	</fieldset>
	
</form>

{% endblock %}