{% extends '_main_template.html' %}

{% block title %}Clients{% endblock %}

{% block head %}
	<script type='text/javascript' src='/static/js/client.js'></script>
{% endblock %}

{% block content %}

<script language="javascript">
$(document).ready(function() {
	loadClientsGrid('Clients', '#tblClients', '#divClientsPager');
})
</script>

<form>
	<table id='tblClients'></table>
	<div id='divClientsPager'></div>
	

	<table>
		<thead></thead>
		<tbody>
			{% for client in formset %}

			<tr>
				<td>{{ client.name }}</td>
				<td>{{ client.address }}</td>
			</tr>


			{% endfor %}
		</tbody>
	</table>
</form>

{% endblock %}