{% extends '_main_template.html' %}

{% block title %}Create Invoice{% endblock %}

{% block head %}
<script type='text/javascript' src='/static/js/invoice.js'></script>
{% endblock %}

{% block content %}

<script type='text/javascript'>
	
	$(document).ready(function() {
		$('#invoice-invoice_date').datepicker({ dateFormat: 'yy-mm-dd'});
		$('#invoice-sale_date').datepicker({ dateFormat: 'yy-mm-dd'});

		loadInvoiceItemTemplate();
		$('#1_btn-remove-invoice-item').remove();
	});
	
</script>

<form method='post' id='form-create-invoice' name='form-create-invoice' class="form-normal">
	{{ invoice_form.errors }}

	<input type='hidden' id='h-last-invoice-item-index'  name='h-last-invoice-item-index'  value='1' />

	<fieldset>
		{{ invoice_form.items }}
		
		<legend>Create New Invoice</legend>
		
		{{ invoice_form.client.label_tag}}
		{{ invoice_form.client }}
		
		<br/>
		{{ invoice_form.currency.label_tag}}
		{{ invoice_form.currency }}
		<br/>				

		{{ invoice_form.invoice_no.label_tag}}
		{{ invoice_form.invoice_no}}
		<br/>				
		{{ invoice_form.invoice_date.label_tag}}
		{{ invoice_form.invoice_date}}
		<br/>				
		{{ invoice_form.sale_date.label_tag}}
		{{ invoice_form.sale_date}}
		<br/>				
	</fieldset>

	<input type='button' id='btn-add-invoice-item'  onclick='addInvoiceItem()' value='Add invoice item'  /> 
			
	<table id='tbl-invoice-items'>
		<thead>
			<tr>
				<td>Description</td>
				<td>Unit Price</td>
				<td>Quantity</td>
			</tr>
		</thead>
		<tbody>
			{% for invoice_item in invoice_item_forms %}
				<tr id='invoice-items-row1'>
					<td>{{ invoice_item.description }}</td>
					<td>{{ invoice_item.unit_price }}</td>
					<td>{{ invoice_item.quantity }}</td>
					<td>
						<input type='button' onclick='deleteInvoiceItem({{ forloop.counter }})' value='Remove' id='{{ forloop.counter }}_btn-remove-invoice-item' />
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button id='btn-create-invoice' >Create Invoice</button>
	
</form>

{% endblock %}