{% extends '_main_template.html' %}

{% block title %}Create Invoice{% endblock %}

{% block head %}
<script type='text/javascript' src='/static/js/invoice.js'></script>
{% endblock %}

{% block content %}

<script type='text/javascript'>
	dojo.require('dijit.form.Form');
	dojo.require('dijit.form.Select');
	dojo.require('dijit.form.Button');
	dojo.require('dijit.form.TextBox');
	dojo.require('dijit.form.ValidationTextBox');
	dojo.require('dijit.form.DateTextBox');
	dojo.require('dijit.form.CurrencyTextBox');
	dojo.require('dijit.form.NumberSpinner');

	dojo.require('dojox.form.BusyButton');
	dojo.require('dojox.validate');
	dojo.require('dojox.validate.web');
	
	dojo.addOnLoad(function() {
		loadInvoiceItemTemplate();
		
		$('#1_btn-remove-invoice-item').remove();
		dojo.parser.parse(dojo.body());
		
		dojo.connect(dijit.byId('btn-create-invoice'), '_onClick', function(e) {
			dijit.byId('form-create-invoice').submit();
		});
		
		dojo.connect(dijit.byId('form-create-invoice'), 'onSubmit', function(e) {
			var ret;
			if (this.validate())
				ret = true;
			else {
				dijit.byId('btn-create-invoice').resetTimeout();
				ret = false;
			}
			
		});
		
		dojo.connect(dijit.byId('btn-add-invoice-item'), 'onClick', function(e) {
			addInvoiceItem();
		});
	});
</script>

<form method='post' id='form-create-invoice' name='form-create-invoice' dojoType='dijit.form.Form'>
	{{ invoice_form.errors }}

	<input type='hidden' id='h-last-invoice-item-index'  name='h-last-invoice-item-index'  value='1' />

	<fieldset>
		{{ invoice_form.items }}
		
		<legend>Create New Invoice</legend>
		
		{{ invoice_form.client.label_tag}}
		{{ invoice_form.client }}
		
		<br/>
		{{ invoice_form.currency.label_tag}}
		{{ invoice_form.currency }}
		<br/>				

		{{ invoice_form.invoice_no.label_tag}}
		{{ invoice_form.invoice_no}}
		<br/>				
		{{ invoice_form.invoice_date.label_tag}}
		{{ invoice_form.invoice_date}}
		<br/>				
		{{ invoice_form.sale_date.label_tag}}
		{{ invoice_form.sale_date}}
		<br/>				
	</fieldset>

	<input type="button" id='btn-add-invoice-item' value="Add Invoice Item"  label='Add Invoice Item' dojoType='dijit.form.Button' ></input>
			
	<table id='tbl-invoice-items'>
		<thead>
			<tr>
				<td>Description</td>
				<td>Unit Price</td>
				<td>Quantity</td>
			</tr>
		</thead>
		<tbody>
			{% for invoice_item in invoice_item_forms %}
				<tr id='invoice-items-row1'>
					<td>{{ invoice_item.description }}</td>
					<td>{{ invoice_item.unit_price }}</td>
					<td>{{ invoice_item.quantity }}</td>
					<td>
						<input type='button' label="Remove" value='Remove' dojoType='dijit.form.Button'  id='{{ forloop.counter }}_btn-remove-invoice-item' onClick='deleteInvoiceItem({{ forloop.counter }})' />
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button id='btn-create-invoice'  dojoType='dojox.form.BusyButton'  busyLabel='Creating Invoice...'>Create Invoice	</button>
	
</form>

{% endblock %}